@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap')
$dark: #000a12
$light: #4f5b62

*
    margin: 0
    padding: 0
    font-family: 'ubuntu', sans-serif
    list-style-type: none
    text-decoration: none
#root
    height: 100vh
    display: flex 
    flex-direction: column  
.navigation
    height: fit-content
    background: $dark
    width: 100%
    h3
        color: $light
        padding: 20px
        font-weight: 500
        font-size: 20px
.page-content >*
    margin: 5px 0
.page-content
    width: 50%
    margin: 1% auto
    display: flex
    flex-direction: column
    a
        width: fit-content
    a:visited
        color: #0000EE
    .input
        padding: 5px
        border: 1px solid $light
        border-radius: 4px
        margin: 0 10px
        max-height: 30px
    .single-item--container
        border-bottom: 1px solid #cfd8dc
        .single-item
            
            display: flex
            flex-direction: row
            padding: 5px
            justify-content: space-evenly
            a
                height: fit-content
                padding: 5px
            .single-item--value
                margin: 0 10px
                width: 8vw
                text-align: center
                
                    
                